* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main img {
  width: 100%;
}

.valgt_side {
  text-decoration: underline;
}

h1 {
  color: white;
  place-self: center;
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 5vw;
  margin: 5rem;
}

h3 {
  padding: 1rem;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4vw;
}

p {
  text-wrap: pretty;
  padding: 5%;
  line-height: 180%;
  font-size: 1.15vw;
}

.ommig_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6%;
  background-color: white;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 7rem;
  gap: 1.5rem;
}

@media (max-width: 900px) {
  .ommig_grid {
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3rem;
    justify-content: center;
  }
  h1 {
    font-size: 7vw;
  }
  p {
    padding: 0rem;
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
  h3 {
    padding: 0rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  main img {
    place-self: center;
  }
}
