* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main img {
  width: 100%;
  padding: 1rem;
  filter: grayscale(100%);
  transition: transform 0.2s;
  position: relative;
}

h1 {
  color: white;
  place-self: center;
  font-family: "Bodoni Moda", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 5vw;
  margin: 6rem;
}

h3 {
  padding: 1rem;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.tema_titel {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  padding: 2rem;
  margin-left: 2rem;
  padding-top: 3rem;
}

p {
  text-wrap: pretty;
  padding: 1rem;
  line-height: 1.9rem;
}

.flex_tema {
  display: flex;
  justify-content: space-around;
}

.flex_tema a {
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1vw;
  border: 0.1rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  padding-top: 0.7rem;
}

.flex_tema a:hover {
  background-color: #572fa7;
  border-color: #572fa7;
  color: black;
}

#web {
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 7rem;
}

#ux {
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 7rem;
}

#animation {
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 7rem;
}

#indhold {
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 7rem;
}

.tema_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}

.link_knap_flex {
  display: flex;
  justify-content: space-around;
}

.link_knap_flex2 {
  display: flex;
  justify-content: space-around;
}

.link_knap {
  color: black;
  text-decoration: none;
  margin-bottom: 2rem;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  border: 0.1rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  padding-top: 0.7rem;
}

.link_knap:hover {
  background-color: #572fa7;
  border-color: #572fa7;
  color: white;
}

#valgt_side {
  text-decoration: underline;
}

#layoutdiagram {
  margin-top: 1.5rem;
}

#eternal_love {
  margin-top: 1rem;
}

main img:hover {
  filter: grayscale(0%);
  transform: scale(1.4);
  z-index: 10;
}

@media (max-width: 900px) {
  .tema_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  main img {
    filter: none;
    transition: none;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0rem;
  }

  main img:hover {
    transform: none;
    z-index: 0;
  }

  p {
    margin-bottom: 4rem;
    font-size: 0.85rem;
  }
  .flex_tema a {
    font-size: 2vw;
  }
  h1 {
    font-size: 7vw;
  }
  h3 {
    margin-top: 1rem;
  }
  #web {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #ux {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #animation {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #indhold {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .link_knap_flex2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
